<div class="box box-default">
  <div class="box-body">
    <%= search_form_for [:admin, @search] do |f| %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Location</label>
            <%= f.select :location_id_eq,
              options_for_select(current_business.locations.pluck(:name, :id), @search.location_id_eq), {include_blank: 'All'} , class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Client name</label>
            <%= f.search_field :full_name_cont, class: 'form-control'%>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Management</label>
            <%= f.select :job_type_id_eq,
              options_for_select(current_business.job_types.pluck(:name, :id), @search.job_type_id_eq), {include_blank: 'All'} , class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-12">
          <button class="btn btn-default">
            Search
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="box">
  <div class="box-header">
  <h3 class="box-title">Clients</h3>
    <div class="box-tools">
      <ul class="pull-right">
        <a href="<%= new_admin_client_path %>" class="btn btn-block btn-default btn-sm">New client</a>
      </ul>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-bordered">
  <thead>
    <tr>
      <th>Room</th>
      <th>Location</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Management</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.room %></td>
        <td><%= client.location&.customer&.business_name %> | <%= client.location&.name %></td>
        <td><%= client.first_name %></td>
        <td><%= client.last_name %></td>
        <td><%= client.job_type&.name %></td>
        <td><%= link_to 'Show', admin_client_path(client) %></td>
        <td><%= link_to 'Edit', edit_admin_client_path(client) %></td>
        <td><%= link_to 'Delete', admin_client_path(client), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="box-footer">
  <div class="row">
    <div class="col-sm-6">
      <%= page_entries_info @clients %>
    </div>
    <div class="col-sm-6">
      <%= paginate @clients %>
    </div>
  </div>
</div>
</div>
