<div class="box box-default">
  <div class="box-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Location</label>
          <select class="form-control select2" style="width: 100%;">
            <option selected="selected">Alabama</option>
            <option>Alaska</option>
            <option>California</option>
            <option>Delaware</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option>Washington</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Client</label>
          <select class="form-control select2" style="width: 100%;">
            <option selected="selected">Alabama</option>
            <option>Alaska</option>
            <option>California</option>
            <option>Delaware</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option>Washington</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Job type</label>
          <select class="form-control select2" style="width: 100%;">
            <option selected="selected">Alabama</option>
            <option>Alaska</option>
            <option>California</option>
            <option>Delaware</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option>Washington</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Status</label>
          <select class="form-control select2" style="width: 100%;">
            <option selected="selected">Alabama</option>
            <option>Alaska</option>
            <option>California</option>
            <option>Delaware</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option>Washington</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Completed start</label>
          <select class="form-control select2" style="width: 100%;">
            <option selected="selected">Alabama</option>
            <option>Alaska</option>
            <option>California</option>
            <option>Delaware</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option>Washington</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Completed end</label>
          <select class="form-control select2" style="width: 100%;">
            <option selected="selected">Alabama</option>
            <option>Alaska</option>
            <option>California</option>
            <option>Delaware</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option>Washington</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box">
  <div class="box-header">
  <h3 class="box-title">Jobs</h3>
    <div class="box-tools">
      <ul class="pull-right">
        <a href="<%= new_app_job_path %>" class="btn btn-block btn-default btn-sm">New job</a>
      </ul>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-bordered">
  <thead>
    <tr>
      <th>Details</th>
      <th>Room</th>
      <th>Location</th>
      <th>Client</th>
      <th>Body area</th>
      <th>Job type</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.visit_number %> / <%= job.weekly_visit_total %></td>
        <td><%= job.client&.room %></td>
        <td><%= job.client&.location&.customer&.business_name %> | <%= job.client&.location&.name %></td>
        <td><%= job.client&.full_name %></td>
        <td><%= job.client&.job_notes %></td>
        <td><%= job.job_type&.name %></td>
        <td><%= job.status %></td>
        <td>
          <a href="<%= edit_app_job_path(job) %>" data-method="GET" data-remote="true">
            Completed
          </a>
        </td>
        <td><%= link_to 'Show', app_job_path(job) %></td>
        <td><%= link_to 'Edit', edit_app_job_path(job) %></td>
        <td><%= link_to 'Delete', app_job_path(job), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="box-footer">
  <div class="row">
    <div class="col-sm-6">
      <%= page_entries_info @jobs %>
    </div>
    <div class="col-sm-6">
      <%= paginate @jobs %>
    </div>
  </div>
</div>
</div>
