<div class="box">
  <div class="box-header">
  <h3 class="box-title">Assessments</h3>
    <div class="box-tools">
      <ul class="pull-right">
        <a href="<%= new_admin_assessment_path %>" class="btn btn-block btn-default btn-sm">New assessment</a>
      </ul>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-bordered">
  <thead>
    <tr>
      <th>Client</th>
      <th>Room</th>
      <th>Location</th>
      <th>Assessment type</th>
      <th>Assessment expired</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assessments.each do |assessment| %>
      <tr>
        <td><%= assessment.client %></td>
        <td><%= assessment.client&.room %></td>
        <td><%= assessment.client&.location %></td>
        <td><%= assessment.assessment_type %></td>
        <td><%= assessment.assessment_expired %></td>
        <td><%= assessment.status %></td>
        <td><%= link_to 'Show', admin_assessment_path(assessment) %></td>
        <td><%= link_to 'Edit', edit_admin_assessment_path(assessment) %></td>
        <td><%= link_to 'Delete', admin_assessment_path(assessment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="box-footer">
  <div class="row">
    <div class="col-sm-6">
      <%= page_entries_info @assessments %>
    </div>
    <div class="col-sm-6">
      <%= paginate @assessments %>
    </div>
  </div>
</div>
</div>
