<%= simple_form_for([:admin, @location]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :customer %>
    <%= f.input :name %>
    <%= f.input :phone %>
    <%= f.input :fax %>
    <%= f.input :email %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :country %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
