<% content_for :seo_tags do %>
  <title>Name</title>
  <meta name="description" content="An uber style home physiotherapy service in the Greater London Area.">
<% end %>

<%= render 'visitors/header' %>

<%= render 'visitors/introduction' %>

<%= render 'visitors/how_does_it_work' %>

<%= render 'visitors/search_local' %>

<%= render 'visitors/careers' %>

<%= render 'visitors/pricing' %>

<%= render 'visitors/footer' %>
