<section class="content">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Customers</h3>
    </div>
    <div class="box-body">
      <p>
        <strong>Business name:</strong>
        <%= @customer.business_name %>
      </p>

      <p>
        <strong>First name:</strong>
        <%= @customer.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= @customer.last_name %>
      </p>

      <p>
        <strong>Phone:</strong>
        <%= @customer.phone %>
      </p>

      <p>
        <strong>Fax:</strong>
        <%= @customer.fax %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @customer.email %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @customer.address %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @customer.city %>
      </p>

      <p>
        <strong>State:</strong>
        <%= @customer.state %>
      </p>

      <p>
        <strong>Country:</strong>
        <%= @customer.country %>
      </p>

      <p>
        <strong>Business:</strong>
        <%= @customer.business %>
      </p>

      <%= link_to 'Edit', edit_admin_customer_path(@customer) %> |
      <%= link_to 'Back', admin_customers_path %>
    </div>
  </div>
</section>
