<div class="box">
  <div class="box-header">
  <h3 class="box-title">Job types</h3>
    <div class="box-tools">
      <ul class="pull-right">
        <a href="<%= new_admin_job_type_path %>" class="btn btn-block btn-default btn-sm">New job type</a>
      </ul>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Default weekly visits</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_types.each do |job_type| %>
      <tr>
        <td><%= job_type.name %></td>
        <td><%= job_type.default_weekly_visits %></td>
        <td><%= link_to 'Show', admin_job_type_path(job_type) %></td>
        <td><%= link_to 'Edit', edit_admin_job_type_path(job_type) %></td>
        <td><%= link_to 'Delete', admin_job_type_path(job_type), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<div class="box-footer">
  <div class="row">
    <div class="col-sm-6">
      <%= page_entries_info @job_types %>
    </div>
    <div class="col-sm-6">
      <%= paginate @job_types %>
    </div>
  </div>
</div>
</div>
