<div class="box box-default">
  <div class="box-body">
    <%= search_form_for [:app, @search] do |f| %>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Location</label>
          <%= f.select :client_location_id_cont,
            options_for_select(current_user.locations.pluck(:name, :id), @search.client_location_id_cont), {} , class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Client</label>
          <%= f.select :client_id_cont, 
            options_for_select(Client.pluck(:first_name, :id), @search.client_id_cont), {} , class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Assessment type</label>
          <%= f.select :assessment_type_id_cont, 
            options_for_select(AssessmentType.pluck(:name, :id), @search.assessment_type_id_cont), {} , class: 'form-control' %>

        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Expired start</label>
          <select class="form-control">
            <option selected="selected">Alabama</option>
            <option>Alaska</option>
            <option>California</option>
            <option>Delaware</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option>Washington</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Expired end</label>
          <select class="form-control select2" style="width: 100%;">
            <option selected="selected">Alabama</option>
            <option>Alaska</option>
            <option>California</option>
            <option>Delaware</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option>Washington</option>
          </select>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="box">
  <div class="box-header">
  <h3 class="box-title">Assessments</h3>
    <div class="box-tools">
      <ul class="pull-right">
        <a href="<%= new_app_assessment_path %>" class="btn btn-block btn-default btn-sm">New assessment</a>
      </ul>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-bordered">
  <thead>
    <tr>
      <th>Room</th>
      <th>Location</th>
      <th>Client</th>
      <th>Assessment type</th>
      <th>Assessment expired</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assessments.each do |assessment| %>
      <tr>
        <td><%= assessment.client&.room %></td>
        <td><%= assessment.client&.location&.name %></td>
        <td><%= assessment.client&.full_name %></td>
        <td><%= assessment.assessment_type&.name %></td>
        <td><%= assessment.assessment_expired %></td>
        <td><%= link_to 'Show', app_assessment_path(assessment) %></td>
        <td><%= link_to 'Edit', edit_app_assessment_path(assessment) %></td>
        <td><%= link_to 'Delete', app_assessment_path(assessment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="box-footer">
  <div class="row">
    <div class="col-sm-6">
      <%= page_entries_info @assessments %>
    </div>
    <div class="col-sm-6">
      <%= paginate @assessments %>
    </div>
  </div>
</div>
</div>
