<% content_for :breadcrumb do %>
<ul class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="<%= admin_users_path %>">Users</a></li>
  <li class="breadcrumb-item active">Index</li>
</ul>
<% end %>

<div class="box">
  <div class="box-header">
  <h3 class="box-title">Users</h3>
    <div class="box-tools">
      <ul class="pull-right">
        <a href="<%= new_admin_user_path %>" class="btn btn-block btn-default btn-sm">New user</a>
      </ul>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Full name</th>
          <th>Email</th>
          <th>Permission</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.full_name %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td>
            <a href="<%= edit_admin_user_path(user) %>" class="btn btn-outline-info">
              Edit
            </a>
            <a href="<%= admin_user_path(user) %>" data-method="DELETE" class="btn btn-outline-danger"
              data-confirm="Are you sure?">
              Delete
            </a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="box-footer">
    <div class="row">
      <div class="col-sm-6">
        <%= page_entries_info @users %>
      </div>
      <div class="col-sm-6">
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>
