<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Template App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Template" %>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <%= stylesheet_link_tag 'admin', media: 'all'%>
    <%= javascript_include_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="hold-transition skin-green-light sidebar-mini">
    <div class="wrapper">
      <%= render 'layouts/admin/header' %>
      <%= render 'layouts/admin/sidebar' %>
      <div class="content-wrapper">
        <section class="content">
          <%= yield %>
        </section>
      </div>
    </div>
    <%= yield(:page_js) %>
  </body>
</html>
